@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap') ;

body {
  background: url('./images/wallpaperflare.com_wallpaper.jpg');
  color: white;
  font-family: BIZ UDGothic , sans-serif;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.demo {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}

.demo th {
  background: #4a4a4a;
  border: 1px solid #ccc;
  padding: 5px;
}

.demo td {
  border: 1px solid #ccc;
  padding: 5px;
}
