@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

body {
  font-family: 'BIZ UDGothic', sans-serif;
  background: url('./images/wallpaperflare.com_wallpaper.jpg');
  color: white;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.demo {
  width:100%;
  border:1px solid #CCCCCC;
  border-collapse:collapse;
  padding:5px;
}
.demo th {
  border:1px solid #CCCCCC;
  padding:5px;
  background:#4A4A4A;
}
.demo td {
  border:1px solid #CCCCCC;
  padding:5px;
}